#toggle-dark-mode-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #ada1a1;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-dark-mode-btn:hover {
    background-color: #948787;
}


body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 30px;
    color: #555;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #45a049;
}

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    margin-top: 10px;
    background-color: #008CBA;
}

button[type="submit"]:hover {
    background-color: #0077A6;
}
