<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link id="style-link" rel="stylesheet" type="text/css" th:href="@{/css/default_style.css}"/>
    <script th:src="@{/js/themeToggle.js}" defer></script>
    <script th:src="@{/js/editEmployee.js}" defer></script>

</head>

<body>
<h1>Admin panel</h1>

<h2>Employees</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Experience</th>
        <th>Post</th>
        <th>Manipulate</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td>
            <span id="name-${employee.getId()}" th:text="${employee.getName}"></span>
            <input type="text" name="name" id="edit-name-${employee.getId()}" th:value="${employee.getName}"
                   style="display: none"/>
        </td>

        <td>
            <span id="surname-${employee.getId()}" th:text="${employee.getSurname}"></span>
            <input type="text" name="surname" id="edit-surname-${employee.getId()}"
                   th:value="${employee.getSurname}" style="display: none"/>
        </td>

        <td>
            <span id="phone-${employee.getId()}" th:text="${employee.getPhone}"></span>
            <input type="text" name="phone" id="edit-phone-${employee.getId()}" th:value="${employee.getPhone}"
                   style="display: none"/>
        </td>

        <td>
            <span id="experience-${employee.getId()}" th:text="${employee.getExperience}"></span>
            <input type="text" name="experience" id="edit-experience-${employee.getId()}"
                   th:value="${employee.getExperience}" style="display: none"/>
        </td>

        <td>
                <span id="post-${employee.getId()}"
                      th:text="${service.getPost(employee.getId()).getName}"></span>
            <input type="text" name="postId" id="edit-postId-${employee.getId()}"
                   th:value="${service.getPost(employee.getId()).getId()}" style="display: none"/>
        </td>

        <td>
            <form th:action="@{/admin/employee/editEmployee}" method="post">
                <input type="hidden" name="id" th:value="${employee.getId()}"/>
                <button type="button" onclick="enableEdit(${employee.getId()})">Edit</button>
                <button type="button" id="save-btn-${employee.getId()}" style="display: none"
                        onclick="saveChanges(${employee.getId()})">Save Changes
                </button>
                <button type="submit" style="display: none">Save</button>
            </form>

            <form th:action="@{/admin/employee/deleteEmployee}" method="post">
                <input type="hidden" name="id" th:value="${employee.getId()}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>


<h2>Add employee</h2>
<a th:href="@{/admin/employee/addEmployee}">
    <button>Add employee</button>
</a>


<h2>Students</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Category</th>
        <th>Manipulate</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.getName}"></td>
        <td th:text="${student.getSurname}"></td>
        <td th:text="${student.getPhone}"></td>
        <td th:text=" ${student.getCategory}"></td>
        <td>
            <button>Edit</button>
            <form th:action="@{/admin/student/delete}" method="post">
                <input type="hidden" name="id" th:value="${student.getId()}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<h2>Add student</h2>
<a th:href="@{/admin/student/addStudent}">
    <button>Add student</button>
</a>


<h2>Posts</h2>
<table>
    <tr>
        <th>Post</th>
        <th>Specialization</th>
        <th>Manipulate</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.getName}"></td>
        <td th:text="${post.getSpecialization}"></td>
        <td>
            <button>Edit</button>
            <form th:action="@{/admin/post/deletePost}" method="post">
                <input type="hidden" name="id" th:value="${post.getId()}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<button id="toggle-dark-mode-btn" onclick="toggleDarkMode()">Change Mode</button>
</body>
</html>
