<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link id="style-link" rel="stylesheet" type="text/css" th:href="@{/css/default_style.css}"/>
    <script th:src="@{/js/themeToggle.js}" defer></script>
    <script th:src="@{/js/editEmployee.js}" defer></script>

</head>

<body>
<h1>Admin panel</h1>

<h2>Employees</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Experience</th>
        <th>Post</th>
        <th>Manipulate</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.getName}"></td>
        <td th:text="${employee.getSurname}"></td>
        <td th:text="${employee.getPhone}"></td>
        <td th:text=" ${employee.getExperience}"></td>

        <td th:text="${service.getPost(employee.getId()).getName}"></td>

        <td>
            <form th:action="@{/admin/employee/editEmployee}" method="get">
                <input type="hidden" name="id" th:value="${employee.getId()}"/>
                <button type="submit">Edit</button>
            </form>

            <form th:action="@{/admin/employee/deleteEmployee}" method="post">
                <input type="hidden" name="id" th:value="${employee.getId()}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>


<h2>Add employee</h2>
<a th:href="@{/admin/employee/addEmployee}">
    <button>Add employee</button>
</a>


<h2>Students</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
        <th>Category</th>
        <th>Manipulate</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.getName}"></td>
        <td th:text="${student.getSurname}"></td>
        <td th:text="${student.getPhone}"></td>
        <td th:text=" ${student.getCategory}"></td>
        <td>
            <button>Edit</button>
            <form th:action="@{/admin/student/delete}" method="post">
                <input type="hidden" name="id" th:value="${student.getId()}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<h2>Add student</h2>
<a th:href="@{/admin/student/addStudent}">
    <button>Add student</button>
</a>


<h2>Posts</h2>
<table>
    <tr>
        <th>Post</th>
        <th>Specialization</th>
        <th>Manipulate</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.getName}"></td>
        <td th:text="${post.getSpecialization}"></td>
        <td>
            <button>Edit</button>
            <form th:action="@{/admin/post/deletePost}" method="post">
                <input type="hidden" name="id" th:value="${post.getId()}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>

<h2>Add post</h2>
<a th:href="@{/admin/post/addPost}">
    <button>Add post</button>
</a>

<button id="toggle-dark-mode-btn" onclick="toggleDarkMode()">Change Mode</button>
</body>
</html>
